body {

    color: #000000;
    font-style: Verdana;
  }

  .jumbotron {
    background-image: url('../images/lab.jpg');
    background-size: 100% 100%;
    opacity: 0.5;
    text-align: center;
    color: aqua;
    
  } 

  .well {
background-color: azure;

  }